.DS_Store
.swp
.bak
cscope.*
*.orig
*.patch

build
*_build
cmake-build*
.idea
.vscode
.cache

*.log
*.jou
.settings
.cproject
.project

doctrees
docs/output/*
docs/en/boards/*
docs/en/samples/*
docs/en/html/*
docs/en/_static/*
docs/en/CHANGELOG.md
docs/en/apps/*
docs/en/middleware/*
docs/en/customer/*
docs/zh/boards/*
docs/zh/samples/*
docs/zh/html/*
docs/zh/_static/*
docs/zh/CHANGELOG.md
docs/zh/apps/*
docs/zh/middleware/*
docs/zh/customer/*
cmake_intro.rst
cmake_intro.rst

**/en/html/*
**/en/xml/*
**/zh/html/*
**/zh/xml/*

*_debug
*_flash_sdram_uf2
*_flash_sdram_uf2_release
*_flash_sdram_xip
*_flash_sdram_xip_release
*_flash_uf2
*_flash_uf2_release
*_flash_xip
*_flash_xip_release
*_release
*_sec_core_img
*_sec_core_img_release

segger_embedded_studio
*.pyc
sec_core_img.c
*.o

